<!DOCTYPE html>
<html lang="en">
<!-- EJS Include -->
<%- include('includes/head') %>

    <body>
        <%- include('includes/header') %>

            <main>
                <h1>Welcome <mark>
                        <%= user.username %>
                    </mark>, to your dashboard.</h1>
            </main>

            <%- include('includes/footer') %>
    </body>

</html>