<!DOCTYPE html>
<html lang="en">
<!-- EJS Include -->
<%- include('includes/head') %>

    <body>
        <%- include('includes/header') %>

            <main>
                <h1>Welcome to your dashboard userid: <%= user %>.</h1>
            </main>

            <%- include('includes/footer') %>
    </body>

</html>