<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>E28886</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>E28886.tech</h1>
      <a href="/">Home</a>
      <a href="/login">Login</a>
    </header>

    <main>
      <h1>Weclome to E28886</h1>
      <p>This application lets you publish research papers online for free.</p>
    </main>

    <footer>
      <p>
        Copyright &copy;
        <a href="https://wakati.tech" target="_blank">Wakati</a>
      </p>
    </footer>
  </body>
</html>