<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
  <body>
    <%- include('includes/header') %>

    <main>
      <form action="/login" method="POST">
        <fieldset>
          <legend>Log In</legend>
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            autocomplete="off"
            required
          />

          <br />

          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />

          <br />

          <button type="submit">Login</button>
        </fieldset>
      </form>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>